@model IEnumerable<MainWebProject.Models.DriverVM>
@{
    ViewData["Title"] = "AllDriver";
}


<div class="row">
    <div class="col-lg-12">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <div>
                <input type="text" id="tableFilter" autofocus class="form-control " placeholder="Search... (f2)">
            </div>
            <div class="d-flex">
                <a asp-asp-controller="Home" asp-action="CreateDriver" class="btn btn-primary btn-sm"><i class="bx bx-plus me-1"></i> New</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap mb-0 table-sm">
                        <thead class="table-light">
                            <tr>
                                <th class="align-middle">ID</th>
                                <th class="align-middle">Name</th>
                                <th class="align-middle">Description</th>
                                <th class="align-middle">Entry Date</th>
                                <th class="align-middle">Expiry Date</th>
                                <th class="align-middle">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                                @foreach(var item in Model)
                                {
                                <tr>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>@item.Name</td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                       @item.EntryDate
                                    </td>
                                    <td>
                                        @item.ExpiryDate
                                    </td>
                                    <td>
                                        <div class="d-flex gap-2">
                                            <button type="button" class="btn btn-primary bg-gradient btn-sm"
                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="View">
                                                <i data-eva="eye" data-eva-height="14" data-eva-width="14"
                                                   class="fill-white align-text-top"></i>
                                            </button>
                                            <button type="button" class="btn btn-success bg-gradient btn-sm"
                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="Edit">
                                                <i data-eva="edit" data-eva-height="14" data-eva-width="14"
                                                   class="fill-white align-text-top"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger bg-gradient btn-sm"
                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="Delete">
                                                <i data-eva="trash-2" data-eva-height="14" data-eva-width="14"
                                                   class="fill-white align-text-top"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                }
                               
                          
                        </tbody>
                    </table>
                    <!-- end table -->
                </div>
            </div>
        </div>
    </div>
</div>

